<style>
	html, body, #map-canvas {
		height: 500px;
		margin: 0px;
		padding: 0
	}

	#map-canvas{
		border:1px solid silver;
	}
</style>

<div>
	<div class="col-md-3">
		<select ng-model="currentCategory" ng-change="refreshContent()">
			<option ng-repeat="cat in categories" value="{{cat.id}}">{{cat.name}}</option>
		</select>
		<h2>Marker Data</h2><hr/>
		<div class="form-horizontal">
			<a class="btn btn-success" href="#/create"><span class="glyphicon glyphicon-plus"></span>New Marker</a>
		</div>
	</div>
	<div class="col-md-9">
		<h2>Map</h2><hr/>
		<div id="map-canvas"></div>
	</div>
</div>

